<div class="allComp">
  <div>
    <img src="/assets/logo.png" alt="logo" class="logo" />
  </div>
  <div>
    <h1 class="title">Hy Artists</h1>
    <p class="description">
        Cette Platform est la plus belle Platform du Monde
        (GoodBye Youtube)
    </p>
  </div>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form>
    <input type="text" placeholder="Email or Phone" id="username" />
    <input type="password" placeholder="Password" id="password" />
    <button class="loginB">S'identifier</button>
    <div class="forgetPass">
      <a href="" style="color: #0088ff; text-decoration: none"
        >Mot de passe oublié?</a
      >
    </div>
    <div>
      <hr id="line" size="3" width="100%" color="#9c9fa5" />
    </div>
    <div class="social">
      <button class="signinB">créer un compte</button>
    </div>
  </form>
</div>
