<div class="allComp">
  <div>
    <img src="/assets/logo.png" alt="logo" class="logo" />
  </div>
  <div>
    <h1 class="title">Hy Artists</h1>
    <p class="description">
      Cette les artistsHy Platform est la plus belle Platform du Monde
      (GoodBye Youtube)
    </p>
  </div>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form>
    <input type="text" placeholder="User Name" id="username" />
    <input type="text" placeholder="Email or Phone" id="username" />
    <input type="password" placeholder="Password" id="password" />
    <button class="loginB">créer un compte</button>

    <div>
      <hr id="line" size="3" width="100%" color="#9c9fa5" />
    </div>
    <div class="social">
      <button class="signinB">S'identifier</button>
    </div>
  </form>
</div>
